
html
{
    background-image: url("/img/home.jpg");
}


h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornsilk;
    opacity: 0.9;
    font-size: 200px;
}
.align
{
  font-display: right;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 10px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }
  
  /*content centered horizontally and vertically */
  .centered1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .centered2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    opacity: 0.8;
    outline: 0;
  }
        /*DOCTOR BUTTON*/

  .button1 {
    background-color: white; 
    color: black; 
    /*border: 2px solid #4CAF50;*/
    width: 250px;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

   /*  PATIENT BUTTON*/

  .button2 {
    background-color: white; 
    color: black; 
   /* border: 2px solid #008CBA;*/
    width: 250px;
  }
  
  .button2:hover {
    background-color: #4CAF50;
    color: white;
  }

   /*PHARMACY BUTTON*/

   .button3 {
    background-color: white; 
    color: black; 
   /* border: 2px solid #f44336;*/
    width: 250px;
  }
  
  .button3:hover {
    background-color: #4CAF50;
    color: white;
  }
  

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
 
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    visibility: hidden;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #F1EEE6;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #F1EEE6;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #F1EEE6;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #F1EEE6;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label, .login-box .user-box input:valid ~ label {
    top: -20px; 
    left: 0px; 
    color: #03E9F4;
    font-size: 12px;
  }
  
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03E9F4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  
  .login-box form a:hover {
    background: #03E9F4;
    color: #F1EEE6;
    border-radius: 5px;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03E9F4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
  }
  
  @keyframes btn-anim2 {
    0%{
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box span:nth-child(3){
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03E9F4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
  }
  
  @keyframes btn-anim3 {
    0%{
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #30E9F4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

  label{
    font-size: 50px;
  }

  /* hellooo life */

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .letter{
    display: inline-flex;
    height: 30px;
    width: 27px;
    /* border: 2.5px solid #FF1EAD; */
    border: 2.35px solid black;
    border-radius: 14px;
    box-shadow:
      0 0 2px rgba(0, 0, 0, .75),
      inset 0 0 2px rgba(0, 0, 0, .45);
  
    animation: letter 3s ease-in-out infinite alternate;
  }
  span{
    margin: 0 15px;
    line-height: .7;
    text-shadow: 0 0 2px rgba(0, 0, 0, .45);
    animation: span 3s ease-in infinite alternate;
  }
  .main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @keyframes span {
    0%,30%{ margin: 0 15px; }
    70%,100%{ margin: 0 5px; }
  }
  @keyframes letter {
    0%,30%{ width: 27px; }
    70%,100%{ width: 30vw; }
  }

  .hellife
  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(107, 172, 76);
    opacity: 0.9;
    font-size: 25px;
  }
 /* FOR ALL*/
 @import url('https://fonts.googleapis.com/css?family=Montserrat:700');


#fly-in {
  font-size: 8em;
  position:top;
  color: cornsilk;
  margin: 5vh auto;
  height: 5vh; 
  text-transform: uppercase;
}

#fly-in span {
  display: block;
  font-size: .4em;
  opacity: .8;
}

#fly-in div {
 position: fixed; 
  margin: 1vh 0;
  opacity: 0;
  left: 0vw;
  width: 5vw;
  animation: switch 32s linear infinite;
}

#fly-in div:nth-child(2) { animation-delay: 4s}
#fly-in div:nth-child(3) { animation-delay: 8s}
#fly-in div:nth-child(4) { animation-delay: 12s}
#fly-in div:nth-child(5) { animation-delay: 16s}
#fly-in div:nth-child(6) { animation-delay: 20s}
#fly-in div:nth-child(7) { animation-delay: 24s}
#fly-in div:nth-child(8) { animation-delay: 28s}

@keyframes switch {
    0% { opacity: 0;filter: blur(20px); transform:scale(12)}
    3% { opacity: 1;filter: blur(0); transform:scale(1)}
    10% { opacity: 1;filter: blur(0); transform:scale(.9)}
    13% { opacity: 0;filter: blur(10px); transform:scale(.1)}
    80% { opacity: 0}
    100% { opacity: 0}
}