
    body 
    {
    background-image: url('resources/css/medify_background.jpg');
    padding-left: 11em;
    padding-right: 20em;
    font-family:
    Georgia, "Times New Roman",
    Times, serif; 
    color: red;
    
    
    }
    